[Desktop Entry]
Version=1.0
Type=Application
Name=Gram
GenericName=Text Editor
Comment=A high-performance, multiplayer code editor.
TryExec=gram
StartupWMClass=se.ziran.Gram
StartupNotify=true
Exec=gram %U
Icon=gram
Categories=Utility;TextEditor;Development;IDE;
Keywords=gram;
MimeType=text/plain;application/x-zerosize;x-scheme-handler/gram;
Actions=NewWorkspace;

[Desktop Action NewWorkspace]
Exec=gram --new %U
Name=Open a new workspace
