[Desktop Entry]
Name=Double Commander
Comment=Double Commander
Exec=/usr/bin/doublecmd
Icon=doublecmd.png
Terminal=false
StartupWMClass=doublecmd
Type=Application
Categories=System
MimeType=
