[Desktop Entry]
Categories=
Comment=A modern open-source calendar
Exec=rencal
StartupWMClass=rencal
Icon=rencal
Name=renCal
Terminal=false
Type=Application
