[Desktop Entry]
Name=Dorion
Exec=/usr/bin/dorion %U
Terminal=false
Type=Application
Icon=dorion
StartupWMClass=dorion
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;dorion;tauri;chat;
Comment=Tiny alternative Discord client with a smaller footprint
MimeType=x-scheme-handler/discord;
