name: update
run-name: "Automated update of ${{ github.ref_name }} by @${{ github.actor }}"

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  discover-packages:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.pkgs.outputs.list }}
    steps:
      - uses: actions/checkout@v4
      - id: pkgs
        run: |
          list=$(find srcpkgs -mindepth 2 -maxdepth 2 -type f -name update.sh \
            | sed 's|srcpkgs/\([^/]*\)/update.sh|"\1"|' \
            | paste -sd, -)
          echo "list=[$list]" >> "$GITHUB_OUTPUT"

  update-versions:
    runs-on: ubuntu-latest
    needs: discover-packages
    if: ${{ github.ref == 'refs/heads/master' }}
    env:
      GH_TOKEN: ${{ github.token }}
    strategy:
      matrix:
        pkg: ${{ fromJson(needs.discover-packages.outputs.packages) }}           
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
        fetch-depth: 0
        token: ${{ secrets.PULL_PUSH }}
    - uses: dcarbone/install-jq-action@v3.2.0    
    - name: Run update
      run: bash srcpkgs/${{ matrix.pkg }}/update.sh
    - name: Check for updates
      id: check-updates
      run: |
        if [[ -n "$(git diff --exit-code)" ]]; then
          echo "has_updates=true" >> "$GITHUB_OUTPUT"
        else
          echo "No new updates"
          echo "has_updates=false" >> "$GITHUB_OUTPUT"
        fi
    - name: Commit updates
      if: ${{ steps.check-updates.outputs.has_updates == 'true' }}
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]USERNAME@users.noreply.github.com"
        git commit --all --message "Automated update"
    - name: Push updates
      if: ${{ steps.check-updates.outputs.has_updates == 'true' }}
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.PULL_PUSH }}
        branch: ${{ github.ref }}