[Desktop Entry]
Type=Application
Name=Siproxylin
Comment=Privacy-focused XMPP desktop client
Exec=/usr/bin/siproxylin %U
Icon=siproxylin
Categories=Network;InstantMessaging;
Terminal=false
StartupNotify=false
